@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
html{
	font-size: 26.66vw;
}
.content{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.banner{
	position: relative;
	background-size: 3.17rem 2.91rem;
}
.banner .logo{
	margin: 0.17rem 0 0 0.15rem;
}
.banner .logo img{
	width: 1.87rem;
	height: 0.2rem;
}
.banner .title p{
	color: #333;
	font-size: 0.14rem;
	margin: 0.48rem 0 0.17rem  0.15rem;
}
.banner .biglogo{
	margin-left: 0.115rem;
}
.banner .biglogo img{
	width: 2.65rem;
	height: 1.01rem;
}
.banner .line{
	width: 0.19rem;
	height: 0.04rem;
	border-top: 0.04rem solid #333;
	margin: 0.275rem 0 0 0.19rem;
}
.banner .slogan p{
	margin: 0.065rem 0 0 0.19rem;
	font-size: 0.13rem;
	color: #333;
}
.form{
	position: absolute;
	bottom:0.7rem;
}
.form .item{
	width: 3.25rem;
	height: 0.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form .item input{
	background: none;
}
.form input-placeholder{
	color :rgba(51,51,51,0.5);
	font-size: 0.13rem;
}
.form .telephone{
	margin:0 0.25rem 0.1rem;
}
.form .btn_long{
	background: #FFFFFF;
	box-shadow: 0 0 8px 0 rgba(199,199,199,0.65);
	border-radius: 4px;
	/* margin:0 0.25rem 0.1rem; */
}
.form .btn_long_press{
	background: #FFF;
	box-shadow: 0 0 8px 0 rgba(255,147,114,0.78);
	border-radius: 4px;
}
.form .btn_short{
	background: #FFFFFF;
	box-shadow: 0 0 8px 0 rgba(199,199,199,0.65);
	border-radius: 4px;
}
.form .btn_short_press{
	background: #FFFFFF;
	box-shadow: 0 0 8px 0 rgba(255,147,114,0.78);
	border-radius: 4px;
}

.form .telephone input{
	margin-left: 0.215rem;
}
.form .telephone span{
	margin-right: 0.215rem;
	display: none;
}
.form .telephone span img{
	width: 0.13rem;
	height: 0.13rem;
	vertical-align: middle;
}
.form .verifycode{
	margin: 0.06rem 0 0 0.25rem;
}
.form .verifycode input{
	margin-left: 0.215rem;
}

.form .verifycode div{
	font-size: 0.14rem;
	color:#999;
	background: none;
	display: flex;
	align-items: center;
	margin-right: 0.14rem;
}
.form .verifycode .submitverify span:nth-of-type(1){
	color:#f26034;
	margin-right:0.26rem;
}
.form .verifycode .submitverify span:nth-of-type(2){
	display: none;
}
.form .button_input{
	position: relative;
	margin: 0.06rem 0 0 0.25rem;
}
.form input{
	background:none;
	caret-color: #ef714b;
	font-size: 0.14rem;
	width:50%;
	height: 0.18rem;
	line-height: 0.18rem;
}
.telephone input{
	width:75%;
}
.button_input div{
	display: flex;
	width: 1.59rem;
}
.button_input div input{
	width:1.05rem;
}
.button_input .select{
	margin-left: 0.055rem;
	text-indent: 0.26rem;
	line-height: 0.4rem;
	color: #f26034;
	position: relative;
	/* z-index: 9; */

}
.button_input .select {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.40rem;
    background: #F7F7F7;
    border-radius: 0.04rem;
    width: 1.57rem;
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    letter-spacing: 0;
    position: relative;

}
.button_input .select div{
	width: 0.1rem;
	height: 0.05rem;
	position: absolute;
	z-index: 100;
	background:url('../imgs/btn_next.png') no-repeat;
	background-size: 0.1rem 0.05rem;
	top:0.20rem;
	left:1.28rem;
}
.button_input .username{
	display: flex;
	align-items: center;
	height: 0.4rem;
}
.button_input .username input{
	margin-left: 0.215rem;
	font-size: 0.14rem;
	width:70%;
	height: 0.18rem ;
	line-height: 0.18rem;
}
.form .vertifytelephone{
	color:red;
	text-indent: 0.5rem;
	display: none;
}
.form .submiterror{
	color:red;
	text-indent: 0.5rem;
	display: none;
}
.form .hasvertifycode{
	color:red;
	text-indent: 0.5rem;
	display: none;
}
.form .hasusername{
	color:red;
	text-indent: 0.5rem;
	display: none;
}
.form .submit{
	display: flex;
	margin: 0.06rem 0 0.2rem 0.25rem;
	align-items: center;
	justify-content: center;
	font-size: 0.19rem ;
	color: rgba(254,254,254,1);
	background: #FF683E;
	border-radius:4px;
	height:0.46rem;
}
.form .options{
	position: absolute;
	left: 0;
	top:0.41rem;
	z-index: 10;
	width: 100%;
	display: none;
}
.form .options ul{
	width: 100%;
	background: #fff;
}

.form .options li p{
	height: 100%;
	text-align: center;
	line-height: 0.49rem;
}
.form .options .optionsactive{
	color:#f58766;
}
.firstad{
	background: #FFF;
}
.secondad{
	padding: .6rem 0 .68rem;
	background:-webkit-linear-gradient(top,#FFF 60%,#F0F3FB);
	background:-o-linear-gradient(top,#FFF 60%,#F0F3FB);
	background:-moz-linear-gradient(top,#FFF 60%,#F0F3FB);
	background:linear-gradient(top,#FFF 60%,#F0F3FB)
}
.flow-list{
   margin: .4rem .20rem .8rem;
   display: flex;
}
.flow-list li{
	flex: 1;
	text-align: center;
	margin-right:.16rem;
}
.flow-list li:last-child{
	margin-right: 0;
}
.flow-list li img{
	width:85%;
	margin-bottom: .1rem;
}
.study-flow{
	display: block;
	width: 1.8rem;
	margin: 0 auto;
}
.scan-code{
	width: 100%;
	margin-top:.1rem;
	font-size: .18rem;
	font-weight:600;
	display: block;
	text-align: center;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}
.swiper-pagination-bullet{
	width: 0.08rem;
	height: 0.08rem;
	background: none;
	border:0.01rem solid #f2744e;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin:0 0.07rem;
}
.swiper-pagination-bullet-active{
	background: #f2744e;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 0;
}

.footer p:nth-of-type(1){
	line-height: 0.12rem;
	font-size: 0.12rem;
	color: #fff;
	text-align: center;
}
.footer p:nth-of-type(2){
	line-height: 0.12rem;
	font-size: 0.12rem;
	color: #fff;
	text-align: center;
	margin-top: 0.035rem;
}
.footer p:nth-of-type(3){
	line-height: 0.12rem;
	font-size: 0.12rem;
	color: #fff;
	text-align: center;
	margin-top: 0.035rem;
}
.success{
	width: 1.4rem;
	height:0.25rem;
	line-height: 0.25rem;
	border-radius: 0.25rem;
	position: fixed ;
	left:80%;
	top:60%;
	margin:-50% 0 0 -50%;
	background: rgba(51,51,51,0.8);
	color:#fff;
	z-index: 10;
	text-align: center;
	display: none;
}
.submiterror{
	width: 1.4rem;
	height:0.25rem;
	line-height: 0.25rem;
	border-radius: 0.25rem;
	position: fixed ;
	left:80%;
	top:60%;
	margin:-50% 0 0 -50%;
	background: rgba(51,51,51,0.8);
	color:#fff;
	z-index: 10;
	text-align: center;
	display: none;
}
.footer1{
	position: absolute;
	bottom: -0.12rem;
}
.dw-i {
    text-align: center;
}
.mbsc-control{
	color: #f26034;
}
.m-err-tips.mbsc-control{
   color: #FF4242;
}
#MEIQIA-INVITE{
	display: none!important;
}
.place-word input::-webkit-input-placeholder { /* WebKit browsers */
	color:#FF4242;
}
.place-word input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#FF4242;
}
.place-word input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#FF4242;
}
.place-word input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#FF4242;
}
.confirmBtn {
	display: flex;
	margin: 0.06rem 0 0.2rem 0.25rem;
	align-items: center;
	justify-content: center;
	font-size: 0.18rem;
	color: rgba(254,254,254,1);
	background: #FF683E;
	border-radius: 4px;
	height: 0.4rem;
	width: 3.25rem;
}
.inputHide {
	 display:none;
	position: absolute;
	bottom: -0.4rem;
 }
.mask {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: auto;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
}
.mask .pop{
	width:3.445rem;
	height:5.025rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.alertImg {
	position: fixed;
	width:3.445rem;
	height:5.025rem;
}
.close {
	width:0.6rem;
	height:0.6rem;
	position: absolute;
	right: 0;
	top: -0.1rem;
	z-index: 11;
	display: block;
}